.venv/

cropped_image/*
!cropped_image/.gitignore

masks/*
!masks/.gitignore

original_image/*
!original_image/.gitignore

outlines_png/*
!outlines_png/.gitignore

outlines_svg/*
!outlines_svg/.gitignore