.venv/
outlines_svg/
original_image/
masks/
cropped_image/
__pycache__/
combined_output.svg
output51.gcode
PyGcodeSender/.gitignore
PyGcodeSender/__pycache__/
PyGcodeSender/PyGcodeSender.Py
PyGcodeSender/README.md
